@model CustomerDashBoardApp.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_gender)
        </dd>
    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>

